
<div padding>
    <ion-segment (ionChange)="filterChanged($event)">
      <ion-segment-button value="all">
        All <ion-badge>{{all()}}</ion-badge>
      </ion-segment-button>
      <ion-segment-button value="overdue">
        Overdue <ion-badge>{{overdue()}}</ion-badge>
      </ion-segment-button>
      <ion-segment-button value="retake">
        Retake <ion-badge>{{retake()}}</ion-badge>
      </ion-segment-button>
      <ion-segment-button value="moreFilters">
        More Filters
      </ion-segment-button>
    </ion-segment>

</div>
