<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <a href="#"><img class="k-twelve-logo" src="assets/img/logo.svg"></a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-filter-buttons></app-filter-buttons>

   <ion-list>
      <ion-list-header>
          Math+Green Summit
        </ion-list-header>
    <div *ngFor="let item of displayItems">
    <div *ngFor="let subitem of item.items">
    <ion-item>
      <ion-avatar slot="start">
          <img src="assets/img/yellow-star.png">
      </ion-avatar>
      <ion-label>
        
        <h2>{{ subitem.title }}</h2>
        <p>{{ subitem.subtitle }}</p>
      </ion-label>
    </ion-item>
    </div>
    </div>
   
  </ion-list>
  
</ion-content>
