<ion-header>
  <ion-toolbar>
    <ion-title>
      K12.com
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-filter-buttons></app-filter-buttons>
  <ion-item-group>
    <ion-item-divider color="light">
      <ion-label>Unit 10: Subtraction Strategies</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>Lesson 10.1: One Less, Ten Less</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lesson 3.2: Counting back form 10</ion-label>
    </ion-item>
  </ion-item-group>
  <ion-list>
    <ion-list-header>
      <ion-label>Unit 10: Subtraction Strategies</ion-label>
    </ion-list-header>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h2>Lesson 10.1: One Less, Ten Less</h2>
          <p>Lesson 3.2: Counting back form 10</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
    <ion-item-sliding>
        <ion-item>
          <ion-label>
            <h2>Lesson 10.1: One Less, Ten Less</h2>
            <p>Lesson 3.2: Counting back form 10</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Unit 10: Subtraction Strategies
    </ion-list-header>
    <ion-item>
      <ion-label>Lesson 10.1: One Less, Ten Less</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lesson 3.2: Counting back form 10</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
      <ion-list-header>
          Math+Green Summit
        </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
          <img src="assets/img/yellow-star.png">
      </ion-avatar>
      <ion-label>
        <h2>Unit 10: Subtraction Strategies</h2>
        <h3>Lesson 10.1</h3>
        <p>One Less, Ten Less</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/gray-star.png">
      </ion-avatar>
      <ion-label>
        <h2>Unit 10: Subtraction Strategies</h2>
        <h3>Lesson 3.2:</h3>
        <p>Counting back form 10</p>
      </ion-label>
    </ion-item>
    <ion-toolbar>
      <ion-avatar slot="start">
        <img src="assets/img/yellow-star.png">
      </ion-avatar>
      <a slot="start">Lesson Title</a>
      <ul class="asmt-list" slot="end" ion-item>
        <li>
          <a>Lesson Checkpoint</a> <span> - Score: 95%</span>
        </li>
        <li>
          <a>Unit Checkpoint</a> <span> - Score: 65%</span>
        </li>
      </ul>
      <ion-label slot="end">Due: 11/10/18</ion-label>
    </ion-toolbar>
  </ion-list>
</ion-content>
