<ion-header>
  <ion-toolbar>
    <ion-title>
      K12.com
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-filter-buttons></app-filter-buttons>

   <ion-list>
      <ion-list-header>
          Math+Green Summit
        </ion-list-header>
    <div *ngFor="let item of items">
    <ion-item *ngFor="let subitem of item.items">
      <ion-avatar slot="start">
          <img src="assets/img/yellow-star.png">
      </ion-avatar>
      <ion-label>
        <h2>{{ item.title }}: {{ item.subtitle }}</h2>
        <h3>{{ subitem.title }}</h3>
        <p>{{ subitem.subtitle }}</p>
      </ion-label>
    </ion-item>
    </div>
    <ion-toolbar>
      <ion-avatar slot="start">
        <img src="assets/img/yellow-star.png">
      </ion-avatar>
      <a slot="start">Lesson Title</a>
      <ul class="asmt-list" slot="end" ion-item>
        <li>
          <a>Lesson Checkpoint</a> <span> - Score: 95%</span>
        </li>
        <li>
          <a>Unit Checkpoint</a> <span> - Score: 65%</span>
        </li>
      </ul>
      <ion-label slot="end">Due: 11/10/18</ion-label>
    </ion-toolbar>
  </ion-list>
  
</ion-content>
